/*--Example 2--*/
@import url(http://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600);
body { color: #11876d; background-color: #9ce0d1; font-family: 'Raleway', Arial, sans-serif; padding-top: 70px; }
h1 { font-weight: 200; font-size: 4em; line-height: 1; }
h3 { font-weight: 200; font-size: 2em; line-height: 1; margin: 10px 0 30px 0; }
.margin-t { margin: 15% 0px 30px 0px; }
a { color: #159175; text-decoration: none; }
a:hover, a:focus { color: #fff; text-decoration: underline; }
hr { border-color: #11876d; }
.padding-tb-20 { padding: 10px 0; }
.padding-b-30 { padding-bottom: 30px; }
.back-btn { font-size: 28px; line-height: 48px; color: #9ce0d1; }
.back-btn:hover { color: #11876d; }
.panel { background: #6cc4b8; /* Old browsers */ background: -moz-radial-gradient(center, ellipse cover, #6cc4b8 0%, #27ba9d 100%); /* FF3.6-15 */ background: -webkit-radial-gradient(center, ellipse cover, #6cc4b8 0%, #27ba9d 100%); /* Chrome10-25,Safari5.1-6 */ background: radial-gradient(ellipse at center, #6cc4b8 0%, #27ba9d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6cc4b8', endColorstr='#27ba9d', GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
box-shadow: -6px 6px 0px rgba(15, 133, 107, 0.8), -5px 5px 0px rgba(15, 133, 107, 0.8), -4px 4px 0px rgba(15, 133, 107, 0.8), -3px 3px 0px rgba(15, 133, 107, 0.8), -2px 2px 0px rgba(15, 133, 107, 0.8), -1px 1px 0px rgba(15, 133, 107, 0.8); }
.panel-default { border-color: #0f856b; }
/* input effect */
.input { position: relative; z-index: 1; display: inline-block; margin: 1em; max-width: 350px; width: calc(100% - 2em); vertical-align: top; }
.input__field { position: relative; display: block; float: right; padding: 0.8em; width: 60%; border: none; border-radius: 0; background: #f0f0f0; color: #aaa; font-weight: bold; -webkit-appearance: none; }
.input__field:focus { outline: none; }
.input__label { display: inline-block; float: right; padding: 0 1em; width: 40%; color: #11876d; font-weight: 500; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.input__label-content { position: relative; display: block; padding: 1.0em 0; width: 100%; }
.input--effect { overflow: hidden; }
.input__field--effect { margin-top: 1em; padding: 0.95em 0.15em; width: 100%; background: transparent; color: #9ce0d1; }
.input__label--effect { position: absolute; bottom: 0; left: 0; padding: 0 0.25em; width: 100%; height: calc(100% - 1em); text-align: left; pointer-events: none; }
.input__label-content--effect { position: absolute; }
.input__label--effect::before, .input__label--effect::after { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: calc(100% - 2px); border-bottom: 1px solid #9ce0d1; }
.input__label--effect::after { margin-top: 2px; border-bottom: 4px solid red; -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); -webkit-transition: -webkit-transform 0.3s; transition: transform 0.3s; }
.input__label--effect-color-1::after { border-color: hsl(200, 100%, 50%); }
.input__label--effect-color-2::after { border-color: hsl(169, 100%, 50%); }
.input__field--effect:focus + .input__label--effect::after, .input--filled .input__label--effect::after { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.input__field--effect:focus + .input__label--effect .input__label-content--effect, .input--filled .input__label-content--effect { -webkit-animation: anim-1 0.3s forwards; animation: anim-1 0.3s forwards; }
 @-webkit-keyframes anim-1 {
 50% {
opacity: 0;
-webkit-transform: translate3d(1em, 0, 0);
transform: translate3d(1em, 0, 0);
}
 51% {
opacity: 0;
-webkit-transform: translate3d(-1em, -40%, 0);
transform: translate3d(-1em, -40%, 0);
}
 100% {
opacity: 1;
-webkit-transform: translate3d(0, -40%, 0);
transform: translate3d(0, -40%, 0);
}
}
@keyframes anim-1 {
 50% {
opacity: 0;
-webkit-transform: translate3d(1em, 0, 0);
transform: translate3d(1em, 0, 0);
}
 51% {
opacity: 0;
-webkit-transform: translate3d(-1em, -40%, 0);
transform: translate3d(-1em, -40%, 0);
}
 100% {
opacity: 1;
-webkit-transform: translate3d(0, -40%, 0);
transform: translate3d(0, -40%, 0);
}
}
.profile { height: 100px; width: 100px; border-radius: 50%; border: 3px solid #fff; margin: 5em auto 3em; }
.profile i { font-size: 82px; color: #fff; line-height: 92px; }
.profile span { padding: 25px 0; clear: both; }


.btn { border-radius: 25px; width: calc(100% - 2em); }
.head-title { text-align: center; font-size: 24px; font-weight: 200; line-height: 44px; }
/* Radomir */
.btn-primary { position: relative; display: inline-block; margin: 1em; padding: 0; border: 2px solid #11876d; background-color: transparent; border-color: #11876d; color: #11876d; font-size: 20px; line-height:44px; font-weight: 600; overflow: visible; -webkit-transition: color 0.7s; transition: color 0.7s; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); border-radius: 25px; width: calc(100% - 2em);}
.btn-primary:hover { background-color: #11876d; border-color: #11876d; color: #9ce0d1; font-size: 20px; font-weight: 600; }
.btn-primary.btn-primary--click, .btn-primary:focus { outline: none; color: #9ce0d1; background-color: #11876d; border-color:#11876d;}
.btn-primary::after { position: absolute; top: 50%; left: 0%; margin: -35px 0 0 -5px; width: 100%; height: 100px; border-radius: 50%; content: ''; opacity: 0; pointer-events: none; }
.btn-primary--effect-radomir::after { box-shadow: inset 0 0 0 35px rgba(255,255,255,0.7); }
.btn-primary--effect-radomir.btn-primary--click::after { -webkit-animation: anim-effect-radomir 0.5s ease-out forwards; animation: anim-effect-radomir 0.5s ease-out forwards; }
 @-webkit-keyframes anim-effect-radomir {
 0% {
 opacity: 1;
 -webkit-transform: scale3d(0.4, 0.4, 1);
 transform: scale3d(0.4, 0.4, 1);
}
 80% {
 box-shadow: inset 0 0 0 2px rgba(111,148,182,0.8);
 opacity: 0.1;
}
 100% {
 box-shadow: inset 0 0 0 2px rgba(111,148,182,0.8);
 opacity: 0;
 -webkit-transform: scale3d(1.2, 1.2, 1);
 transform: scale3d(1.2, 1.2, 1);
}
}
 @keyframes anim-effect-radomir {
 0% {
 opacity: 1;
 -webkit-transform: scale3d(0.4, 0.4, 1);
 transform: scale3d(0.4, 0.4, 1);
}
 80% {
 box-shadow: inset 0 0 0 2px rgba(111,148,182,0.8);
 opacity: 0.1;
}
 100% {
 box-shadow: inset 0 0 0 2px rgba(111,148,182,0.8);
 opacity: 0;
 -webkit-transform: scale3d(1.2, 1.2, 1);
 transform: scale3d(1.2, 1.2, 1);
}
}
